<div class="terminal">
    <div class="terminal-history">
        <p class="terminal-line -history">Welcome to my website.</p>
        <p class="terminal-line -history">My name is Colwyn.</p>
        <p class="terminal-line -history">You can email me at: 
                <a href="mailto:colwyn.myself@gmail.com" title="Email me">colwyn.myself@gmail.com</a> or check out my
                GitHub: <a href="https://github.com/colwynmyself" target="_blank">https://github.com/colwynmyself</a></p>
        <p class="terminal-line -history">Go ahead and type something! Try "help" or "about"</p>
    </div>
    <div class="terminal-input">
        <input type="text">
    </div>
</div>

<Script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/home.js"></script>