<div class="terminal">
    <div class="terminal-history">
        <p class="terminal-line -history">Colwyn Fritze-Moor ->
            <a href="https://www.popart.com" title="Pop Art, Inc" class="terminal-link" target="_blank">Pop Art, Inc.</a> [Software Developer]
        </p>
        <p class="terminal-line -history">Email: <a href="mailto:colwyn.myself@gmail.com" title="Email" class="terminal-link">colwyn.myself@gmail.com</a></p>
        <p class="terminal-line -history">GitHub: <a href="https://github.com/colwynmyself" title="GitHub" class="terminal-link" target="_blank">colwynmyself</a></p>
        <p class="terminal-line -history">Experience: Pop Art, Inc. [Software Developer], Glass Bead, Inc. [Front End Developer], AutoBidMaster [Web Graphic Designer]</p>
        <p class="terminal-line -history">Languages: JavaScript (ES6), Python, C#, SQL</p>
        <p class="terminal-line -history">Databases: Postgres, MySQL, MongoDB</p>
        <p class="terminal-line -history">Libraries: Node.js, VueJS, React, .NET, Mongoose, Sequelize</p>
        <p class="terminal-line -history">Server Tools: Nginx, Apache, Docker</p>
    </div>
    <div class="terminal-input">
        <input type="text">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/terminal.js"></script>