<div class="terminal">
    <div class="terminal-history">
        <p class="terminal-line -history">Stats for Reddit</p>
        <p class="terminal-line -history">My personal project to create a stats collection interface with Reddit and download/backup content submitted.</p>
        <p class="terminal-line -history"><a href="/stats-for-reddit/app" title="Go to Reddit Stats">Go to Stats for Reddit</a></p>
    </div>
    <div class="terminal-input">
        <input type="text">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/terminal.js"></script>
