<h1>Colwyn Fritze-Moor</h1>
<p>
  I'm a software architect in Portland, Oregon. I like to build little one-off projects and do a little too much DIY.
  Anything from setting up game servers for my friends and myself or building a frontend HTML and CSS generation
  framework because I want to see how it works.
</p>
<p>
  Check out my <a href="https://github.com/colwynmyself/" title="colwynmyself on GitHub" target="_blank">GitHub
    profile{{ icon 'arrow-up-right' 12 }}</a>,
  I have <a href="https://github.com/colwynmyself/colwyn.me" title="colwyn.me source code" target="_blank">the source
    code for this site{{ icon 'arrow-up-right' 12 }}</a> up there if you'd like to take a look - keep in mind I haven't
  done frontend work professionally for a few years now so don't judge me too hard please.
</p>
<p>
  Accessibility is tested using <a href="https://github.com/pa11y/pa11y" title="pa11y GitHub" target="_blank">pa11y{{
    icon 'arrow-up-right' 12 }}</a>. If you run into accessibility issues then please email me at
  <a href="mailto:colwyn@colwyn.me" title="colwyn@colwyn.me">colwyn@colwyn.me</a>.
</p>
