{
    "globals": {
        "debug": true,
    },
    "rules": {
        "indent": [
            2,
            4
        ],
        "semi": [
            2,
            "always"
        ],
        "comma-dangle": [
            2,
            "always-multiline"
        ],
    },
    "env": {
        "es6": true,
        "node": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "parserOptions": {
        sourceType: "module"
    },
    "extends": "eslint:recommended"
}
