<h1>Software</h1>
<p>
  I've done everything up and down the stack and now I mainly focused on infrastructure and security. I like to build
  secure and reliable systems and help out by building tooling to assist with developer and company efficiency.
</p>
