<h1>Software</h1>
<p>
  I've done everything up and down the stack and now I mainly focus on infrastructure and security. I like to build
  secure and reliable systems and tooling to help developers help everyone else.
</p>
<h2>Skills</h2>
<p>
  A very truncated list of tools I like to use.
</p>
<ul>
  <li>Languages: Bash, HCL, Python, TypeScript, SQL</li>
  <li>Databases: MySQL, Postgres, DynamoDB, MongoDB</li>
  <li>Libraries: React, VueJS, Express, Sequelize, Scrapy</li>
  <li>Tools: Nginx, Docker, Terraform, CloudFormation</li>
</ul>
