@import 'normalize';
@import 'colors';
@import 'utility';
@import 'terminal';

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.topnav {
    background: $terminal-background;

    &-list {
        @extend .clearfix;
        list-style-type: none;
        padding: 20px 12px 2px;
        margin: 0;
    }
    &-item {
        float: left; margin-right: 20px;
    }
    &-link {
        text-decoration: none;
        color: $terminal-text;

        &:hover {
            background: $terminal-highlight;
        }
    }
}