<nav class="topnav">
    <ul class="topnav-list">
        <li class="topnav-item"><a href="/" title="Console" class="topnav-link">Console</a></li>
        <li class="topnav-item"><a href="/resume" title="Resume" class="topnav-link">Resume</a></li>
        <li class="topnav-item"><a href="/stats-for-reddit" title="Stats for Reddit" class="topnav-link">Stats for Reddit</a></li>
    </ul>
</nav>
