<nav class="topnav">
    <ul class="topnav-list">
        <li class="topnav-item"><a href="/" title="Console" class="topnav-link">Console</a></li>
        <li class="topnav-item"><a href="/resume" title="Resume" class="topnav-link">Resume</a></li>
    </ul>
</nav>