*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
  vertical-align: baseline;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  margin-left: 15px;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

h1, h2, h3, h4 {
  margin: 1rem 0 0.7rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  margin: 1rem 0;
}

a:hover {
  color: #a44200;
}

.container {
  max-width: 980px;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 980px) {
  .container {
    width: 80%;
  }
}
.bookend {
  background-color: #252323;
  color: white;
}
.bookend a:hover {
  color: #fee440;
}
.bookend_link {
  text-decoration: none;
  color: white;
  padding: 0.6rem;
}
.bookend_link:hover {
  background-color: #565656;
}
.bookend_link .octicon {
  margin-top: -2px;
  margin-left: 1px;
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_logo {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}
.header_nav {
  display: flex;
  flex-direction: row;
}
.header_nav-item {
  display: flex;
}
.header_nav-link {
  padding: 0.6rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 0;
  background-color: #252323;
}