<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Colwyn Fritze-Moor</title>

  <link rel="stylesheet" href="/base.css">
  {{ styles }}
</head>

<body>
  <header class="header">
    <div class="header_container container">
      <div class="header_logo">It me!</div>
      <div class="header_nav">
        <div class="header_nav-item"><a class="header_nav-link" href="/" title="Home">Home</a></div>
        <div class="header_nav-item"><a class="header_nav-link" href="/about" title="About">About</a></div>
      </div>
    </div>
  </header>
  <div class="container">
    {{ content }}
  </div>
</body>

</html>
