<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Colwyn Fritze-Moor</title>

  <link rel="stylesheet" href="index.css">
  {{ styles }}
</head>

<body>
  {{ content }}
</body>
