$purple: #270631;
$bright-green: #2dff43;

$blue: #2780B4;
$blue-light: #4694C2;
$blue-vlight: #6FAFD5;
$blue-dark: #0869A3;
$blue-vdark: #064F7B;

$yellow: #FFCA2B;
$yellow-light: #FFD452;
$yellow-vlight: #FFDE7D;
$yellow-dark: #FFBF00;
$yellow-vdark: #C19100;

$red: #FF572B;
$red-light: #FF7652;
$red-vlight: #FF987D;
$red-dark: #FF3500;
$red-vdark: #C12800;

$orange: #FFA02B;
$orange-light: #FFB152;
$orange-vlight: #FFC57D;
$orange-dark: #FF8C00;
$orange-vdark: #C16A00;

$black: #000;
$black-light1: fade-out($black, 0.15);
$black-light2: fade-out($black, 0.3);
$black-light3: fade-out($black, 0.45);
$black-light4: fade-out($black, 0.6);
$black-light5: fade-out($black, 0.75);
$black-light6: fade-out($black, 0.9);

$white: #fff;
$white-dark1: darken($white, 2.5);
$white-dark2: darken($white, 5);
$white-dark3: darken($white, 7.5);
$white-dark4: darken($white, 10);

/* Terminal colors */
$terminal-background: $purple;
$terminal-highlight: $bright-green;
$terminal-font-color: white;