@import 'utils';

$codebox-line-height: 6px;

.codebox {
    flex: 1;
    background: $black-light6;
    border: 3px solid $black-light4;
    border-radius: $standard-space/2;
    padding: $standard-space;

    &_line {
        background: $black-light4;
        height: $codebox-line-height;
        display: block;
        margin-bottom: $codebox-line-height*2;
        width: 100%;
        border-radius: $codebox-line-height/2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}