@import 'utils';
@import 'App';

.header {
    @extend .clearfix;
    box-shadow: 0 0 15px $black-light4;
    background: $blue;
    height: $header-height;
    z-index: 10;
    position: relative;

    &_logo {
        display: none;

        @include breakpoint(md) {
            font-size: 1.5rem;
            float: left;
            color: $white;
            line-height: $header-height;
            display: block;
        }
    }
    &_nav-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
    }
    &_nav-item {
        float: left;
    }
    &_nav-link {
        display: block;
        padding: 0 $standard-space/2;
        line-height: $header-height;
        color: white;
        text-shadow: $black-light4 0 0 4px;

        &:hover {
            background: $blue-vdark;
        }
    }
}