<!DOCTYPE html>
<html>
<head>
    <title>colwyn.me</title>
    <link href="/css/main.min.css" type="text/css" rel="stylesheet" media="all" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    {{> topnav }}
    {{{ @body }}}
</body>
</html>