<h1>Projects</h1>

<ul>
  <li><a href="https://github.com/colwynmyself/ansible" title="GitHub for my Ansible" target="_blank">My Ansible
      playbooks</a> -
    These are primarily for the gaming servers I run for friends.</li>
  <li><a href="https://github.com/colwynmyself/colwyn.me" title="GitHub for this website" target="_blank">This
      website</a></li>
</ul>
