<h1>Projects</h1>

<ul>
  <li><a href="https://github.com/colwynmyself/ansible" title="GitHub for my Ansible" target="_blank">My Ansible
      playbooks{{ icon 'arrow-up-right' 12 }}</a> - These are primarily for the gaming servers I run for friends.</li>
  <li><a href="https://github.com/colwynmyself/colwyn.me" title="GitHub for this website" target="_blank">colwyn.me
      source code{{ icon 'arrow-up-right' 12 }}</a> - The source code for this website. Mostly an attempt at building a
    NoJS application with a custom built HTML builder. It's not good, it's just built for fun.</a></li>
</ul>

<p>I've got lots more stuff over on <a href="https://github.com/colwynmyself" title="My GitHub" target="_blank">my
    GitHub{{ icon 'arrow-up-right' 12 }}</a>, go take a look!</p>
